.social-layer {
  //display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten(gray, 30%);
  font-size: 0.75em;

  .social-icons {
    ul {
     list-style: none;
      li {
        display: inline;
        color: #999;
      }
      a:hover{
        color: #000;
      }
    }
  }

  li,
  ul {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    color: #999;
  }

}
