<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{site.author.cv_ch}}">CV-CH</a></li>
          <li><a href="{{site.author.cv}}">CV-EN</a></li>
<!--          <li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Putty</a></li>-->
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
<!--        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.-->
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5fxsemgb2de&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
  </body>
</html>
