<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li>
            CV[<a href="{{site.author.cv_ch}}">CH</a>|<a href="{{site.author.cv}}">EN</a>]
          </li>
<!--          <li><a href="{{ '/portfolio' | prepend: site.baseurl }}/">Putty</a></li>-->
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

<!--     <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5nokyptpvta&amp;m=0&amp;c=00fff6&amp;cr1=ff0000&amp;f=arial&amp;l=1" async="async"></script> -->
    <div style="height: 10%; width:10%; margin: 2% auto 2% auto;"><script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=MgR8JGVQ0O8ueLi6HKWkm9dPP6l3gvdzvK-zSHNaq5M"></script></div>
    
    <footer>
      <span>
<!--        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.-->
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
  </body>
  
</html>
